# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

node_modules
dist
dist-ssr
*.local

# Editor directories and files
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Local .terraform directories (contains downloaded plugins and modules)
**/.terraform/*

# .tfstate files contain the current status of your managed infrastructure.
# These can contain secrets and should be kept in a remote state backend, not Git.
*.tfstate
*.tfstate.*

# Crash logs
crash.log
crash.*.log

# Exclude all variable files as they often contain sensitive secrets/credentials
*.tfvars
*.tfvars.json

# Ignore override files as they are usually used for local adjustments
override.tf
override.tf.json
*_override.tf
*_override.tf.json

# Include microservices CLI configuration files
.terraformrc
terraform.rc